Example notebook showing how to create a Ball Mapper graph on the space of Alexander polynomials coefficients, and an Equivariant Ball Mapper on Jones polinomials coefficients.

Includes Bokeh interactive plotting.

In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
from pyballmapper import BallMapper

## Alexander up to 15 crossings

Download the parsed data from https://zenodo.org/records/7670819

In [3]:
print("loading alexander")
alex_df = pd.read_csv("../data/Alexander_upto_15.csv.zip")
print(alex_df.shape)

loading alexander
(313231, 24)

In [4]:
alex_df.to_csv("Alexander_upto_15.csv", index=False)

In [5]:
alex_df.head()

,N/A_1,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,A0,A1,A2,...,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,0,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,3,1,1,2,1,4,0,0,0,...,1,-1,1,0,0,0,0,0,0,0
2,1,4,1,1,0,-2,2,0,0,0,...,-1,3,-1,0,0,0,0,0,0,0
3,1,5,1,1,4,2,7,0,0,0,...,-1,1,-1,1,0,0,0,0,0,0
4,1,5,2,1,2,1,6,0,0,0,...,2,-3,2,0,0,0,0,0,0,0

In [6]:
X = alex_df[alex_df.columns[8:]].to_numpy()
y = alex_df[["number_of_crossings", "is_alternating", "signature"]].copy()
y["signature_mod4"] = y.signature % 4

In [7]:
alex_BM = BallMapper(X, eps=50, verbose=True)

Finding vertices...
77 vertices found.
Computing points_covered_by_landmarks...
Running BallMapper
Finding edges...
Creating Ball Mapper graph...
Done

### Plotting

In [8]:
from pyballmapper.plotting import graph_GUI

In [9]:
from bokeh.plotting import figure, show
from matplotlib import colormaps as cm

In [10]:
# create a GUI with input our BM graph,
# we need color palette
my_palette = cm.get_cmap("Reds")

# and a dataframe with coloring functions (one value per point in the pointcloud)
# we use the points themself as coloring functions
alex_BM.add_coloring(coloring_df=y)
my_fancy_gui = graph_GUI(
    alex_BM.Graph, my_palette, tooltips_variables=y.columns, render_iterations=1000
)
my_fancy_gui.color_by_variable("signature_mod4")

color by variable signature_mod4
MIN_VALUE: 0.000, MAX_VALUE: 2.000

(0.0, 2.0)

In [11]:
# creates an html file with the graph
# and opens it in another tab
show(my_fancy_gui.plot)

In [12]:
with open("../data/pkl/alexander_bm.pkl", "wb") as f:
    pickle.dump(alex_BM.Graph, f)

## Jones up to 15 crossings

In [13]:
print("loading jones")
jones_df = pd.read_csv("../data/Jones_upto_15_MIRRORS.csv.zip")
print(jones_df.shape)

loading jones
(626462, 59)

In [14]:
jones_df.head()

,knot_id,representation,number_of_crossings,table_number,is_alternating,signature,minimum_exponent,maximum_exponent,J-25,J-24,...,J16,J17,J18,J19,J20,J21,J22,J23,J24,J25
0,0,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0!,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,3,1,1,2,1,4,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1!,1,3,1,1,-2,-4,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,1,4,1,1,0,-2,2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
X = jones_df[jones_df.columns[8:]].to_numpy()
y = jones_df[["number_of_crossings", "is_alternating", "signature"]]

Since Jones can distinguish between a knot and its mirror, we use Equivariant BallMapper

In [16]:
# create orbits
orbits = []

for i in range(0, len(X), 2):
    orbits.append([i, i + 1])
    orbits.append([i + 1, i])

In [17]:
jones_BM = BallMapper(X, eps=50, verbose="tqdm")

Finding vertices...

  0%|          | 0/626462 [00:00<?, ?it/s]

319 vertices found.
Computing points_covered_by_landmarks...

  0%|          | 0/319 [00:00<?, ?it/s]

Running BallMapper
Finding edges...

0it [00:00, ?it/s]

Creating Ball Mapper graph...
Done

### Plotting

In [18]:
from pyballmapper.plotting import graph_GUI

In [19]:
from bokeh.plotting import figure, show
from matplotlib import colormaps as cm

In [20]:
# create a GUI with input our BM graph,
# we need color palette
my_palette = cm.get_cmap("jet")

# and a dataframe with coloring functions (one value per point in the pointcloud)
# we use the points themself as coloring functions
jones_BM.add_coloring(coloring_df=y)
my_fancy_gui = graph_GUI(
    jones_BM.Graph, my_palette, tooltips_variables=y.columns, render_iterations=1000
)
my_fancy_gui.color_by_variable("signature")

color by variable signature
MIN_VALUE: -10.000, MAX_VALUE: 10.000

(-10.0, 10.0)

In [21]:
# creates an html file with the graph
# and opens it in another tab
show(my_fancy_gui.plot)

In [22]:
with open("../data/pkl/jones_bm.pkl", "wb") as f:
    pickle.dump(jones_BM.Graph, f)